.main-container{
    width: 80%;
    margin: 10px auto;
    background-color: aqua;
}
.header{
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
    margin-left: 10px;
}
.data{
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
    margin-left: 10px;
    
}
.dataA{
    display: flex;
    justify-content: center;
    

}
h1{
    text-align: center;
}